<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Cupcakes</title>
    
    <link rel="stylesheet" href="style.css">
    
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">

    <script src="script.js"></script>

</head>
<body id="Combos">

    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="home.html"><img src="./assets/logo.png" alt="Logo" width="96px" /></a>
            </div>
            <ul class="menu">
                <li><a href="home.html">Home</a></li>
                <li><a href="pedidos.html">Pedidos</a></li>
                <li><a class="active" href="combos.html">Combos</a></li>
                <li><a href="criarCupcake.html">Crie seu Cupcake</a></li>
                <li><a href="carrinho.html">Carrinho</a></li>
                <li><a href="contato.html">Contato</a></li>
                <li><a href="beneficios.html">Benefícios</a></li>
            </ul>
            <button class="menu-toggle" onclick="toggleMenu()">☰</button>
            <div class="account-area">
                <div class="cart-icon">
                    <a href="#" onclick="toggleCart()" ><img src="./assets/carrinhop.png" /></a>
                </div>
                <a href="login.html" class="login-link">Criar conta / Login</a>
            </div>
        </nav>
    </header>

    <div id="cart-sidebar" class="cart-sidebar">
        <h2>Resumo do Carrinho</h2>
        <div class="cart-pedido">
            <img src="./assets/cupcake1m.png" alt="">
            <span>R$ 7.00 <br> Chocolate</span>
            <div class="qtd">
                <div>-</div>
                <div class="center">5</div>
                <div>+</div>
            </div>
        </div>
        <p class="cart-total">Valor total: R$ </p>
        <button>Ir para o carrinho</button>
        <img class="close" onclick="toggleCart()" src="./assets/fechar.png" width="42px">
    </div>

    <main>
        <section class="highlight">
            <div class="highlight-container">
                <span class="pag">Combos</span>

                <div class="main">
                    <div class="highlight-item">
                        <h3>Pequeno</h3>
                        <div class="sabores">
                            <img src="./assets/cupcake1m.png" alt="">
                            <img src="./assets/cupcake1m.png" alt="">
                            <img src="./assets/cupcake1m.png" alt="">
                        </div>
                        <div class="combos-desc">
                            <span>9x Cupcakes</span>
                        </div>
                        <div class="combos-sabores">
                            <div class="sabor">
                                <span>R$ 6,00</span>
                                <span>Morango</span>
                            </div>
                            <div class="sabor">
                                <span>R$ 6,50</span>
                                <span>Chocolate</span>
                            </div>
                            <div class="sabor">
                                <span>R$ 7,00</span>
                                <span>Pistache</span>
                            </div>
                        </div>
                        <div class="combos-button">
                            <button onclick="toggleSecao('escolher-sabor')">Escolher sabores</button>
                        </div>
                        <small class="desconto">5% de desconto</small>
                    </div>
                    <div class="highlight-item">
                        <h3>Médio</h3>
                        <div class="sabores">
                            <img src="./assets/cupcake1m.png" alt="">
                            <img src="./assets/cupcake1m.png" alt="">
                            <img src="./assets/cupcake1m.png" alt="">
                        </div>
                        <div class="combos-desc">
                            <span>15x Cupcakes</span>
                        </div>
                        <div class="combos-sabores">
                            <div class="sabor">
                                <span>R$ 6,00</span>
                                <span>Morango</span>
                            </div>
                            <div class="sabor">
                                <span>R$ 6,50</span>
                                <span>Chocolate</span>
                            </div>
                            <div class="sabor">
                                <span>R$ 7,00</span>
                                <span>Pistache</span>
                            </div>
                        </div>
                        <div class="combos-button">
                            <button>Escolher sabores</button>
                        </div>
                        <small class="desconto">10% de desconto</small>
                    </div>
                    <div class="highlight-item">
                        <h3>Grande</h3>
                        <div class="sabores">
                            <img src="./assets/cupcake1m.png" alt="">
                            <img src="./assets/cupcake1m.png" alt="">
                            <img src="./assets/cupcake1m.png" alt="">
                        </div>
                        <div class="combos-desc">
                            <span>30x Cupcakes</span>
                        </div>
                        <div class="combos-sabores">
                            <div class="sabor">
                                <span>R$ 6,00</span>
                                <span>Morango</span>
                            </div>
                            <div class="sabor">
                                <span>R$ 6,50</span>
                                <span>Chocolate</span>
                            </div>
                            <div class="sabor">
                                <span>R$ 7,00</span>
                                <span>Pistache</span>
                            </div>
                        </div>
                        <div class="combos-button">
                            <button>Escolher sabores</button>
                        </div>
                        <small class="desconto">15% de desconto</small>
                    </div>
                </div>

                <div id="EscolherSabor" class="choose-flavor">
                    <h2>Escolha os sabores</h2>
                    <img class="close" onclick="toggleSecao('escolher-sabor')" src="./assets/fechar.png" width="42px">
                    <div class="combo-sabores">
                        <div class="descricao">
                            <img src="./assets/cupcake1m.png">
                            <span>R$ 7,00</span>
                            <span>Cupcake de baunilha com recheio e cobertura de chocolate</span>
                        </div>
                        <div class="descricao">
                            <img src="./assets/cupcake1m.png">
                            <span>R$ 7,00</span>
                            <span>Cupcake de baunilha com recheio e cobertura de chocolate</span>
                        </div>
                        <div class="descricao">
                            <img src="./assets/cupcake1m.png">
                            <span>R$ 7,00</span>
                            <span>Cupcake de baunilha com recheio e cobertura de chocolate</span>
                        </div>
                    </div>
                    <div class="choose-flavor-footer">
                        <span>10 unidades de cada</span>
                        <button onclick="adicionarAoCarrinho(), toggleSecao('escolher-sabor')">Adicionar ao carrinho</button>
                        <div>
                            <span>
                                Valor Total: <s>R$ 210,00</s>
                            </span>
                            <span class="desconto">15% de desconto: R$ 178,50</span>
                            
                            
                        </div>
                    </div>
                </div>
                <div id="notification" class="notification">Item adicionado ao carrinho!</div>
            </div>

        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2024 Loja de Cupcakes. Todos os direitos reservados.</p>
    </footer>    
</body>
</html>
