<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Cupcakes</title>
    
    <link rel="stylesheet" href="style.css">
    
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">

</head>
<body id="Pedidos">

    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="home.html"><img src="./assets/logo.png" alt="Logo" width="96px" /></a>
            </div>
            <ul class="menu">
                <li><a href="home.html">Home</a></li>
                <li><a class="active" href="pedidos.html">Pedidos</a></li>
                <li><a href="combos.html">Combos</a></li>
                <li><a href="criarCupcake.html">Crie seu Cupcake</a></li>
                <li><a href="carrinho.html">Carrinho</a></li>
                <li><a href="contato.html">Contato</a></li>
                <li><a href="beneficios.html">Benefícios</a></li>
            </ul>
            <div class="account-area">
                <div class="cart-icon">
                    <a href="#" onclick="toggleCart()" ><img src="./assets/carrinhop.png" /></a>
                </div>
                <a href="login.html" class="login-link">Criar conta / Login</a>
            </div>
        </nav>
    </header>

    <div id="cart-sidebar" class="cart-sidebar">
        <h2>Resumo do Carrinho</h2>
        <div class="cart-pedido">
            <img src="./assets/cupcake1m.png" alt="">
            <span>R$ 7.00 <br> Chocolate</span>
            <div class="qtd">
                <div>-</div>
                <div class="center">5</div>
                <div>+</div>
            </div>
        </div>
        <p class="cart-total">Valor total: R$ </p>
        <button>Ir para o carrinho</button>
        <img class="close" onclick="toggleCart()" src="./assets/fechar.png" width="42px">
    </div>

    <main>
        <section class="highlight">
            <div class="highlight-container">
                <span class="pag">Pedidos</span>
                <div class="highlight-item">
                    <h2>Pedido em andamento</h2>
                    <div class="pedido-produtos">
                        <div class="produto">
                            <span>Combo pequeno</span>
                            <span>R$ 54,00</span>
                        </div>
                        <div class="produto">
                            <span>Cupcake chocolate</span>
                            <span>R$ 15,00</span>
                        </div>
                        <div class="produto">
                            <span>Cupcake creme</span>
                            <span>R$ 24,00</span>
                        </div>
                    </div>
                    <span>Valor Total: R$ 93,00</span>
                    <div class="acompanhar-pedido-footer">
                        <button onclick="acompanharPedido()">Acompanhar pedido</button>
                    </div>
                </div>
                <div class="highlight-item">
                    <h2>Pedido entregue</h2>
                    <div class="pedido-produtos">
                        <div class="produto">
                            <span>Combo pequeno</span>
                            <span>R$ 54,00</span>
                        </div>
                        <div class="produto">
                            <span>Cupcake chocolate</span>
                            <span>R$ 15,00</span>
                        </div>
                        <div class="produto">
                            <span>Cupcake creme</span>
                            <span>R$ 24,00</span>
                        </div>
                    </div>
                    <span>Valor Total: R$ 93,00</span>
                    <div class="acompanhar-pedido-footer">
                        <a href=""><img src="./assets/plus.png" alt="" width="50px"></a>
                    </div>
                </div>
                <div class="highlight-item">
                    <h2>Pedido entregue</h2>
                    <div class="pedido-produtos">
                        <div class="produto">
                            <span>Combo pequeno</span>
                            <span>R$ 54,00</span>
                        </div>
                        <div class="produto">
                            <span>Cupcake chocolate</span>
                            <span>R$ 15,00</span>
                        </div>
                        <div class="produto">
                            <span>Cupcake creme</span>
                            <span>R$ 24,00</span>
                        </div>
                    </div>
                    <span>Valor Total: R$ 93,00</span>
                    <div class="acompanhar-pedido-footer">
                        <a href=""><img src="./assets/plus.png" alt="" width="50px"></a>
                    </div>
                </div>
                <!-- Acompanhar pedido -->
                <div id="AcompanharPedido" class="choose-flavor">
                    <img class="close" onclick="acompanharPedido()" src="./assets/fechar.png" width="42px">
                    <div class="acompanhar-pedido">
                        <div class="pagamento">
                            <div>
                                <div class="barra-progresso">
                                    <div class="progresso barra-progresso-left"></div>
                                    <div class="progresso barra-progresso-center"></div>
                                    <div class="progresso barra-progresso-right"></div>
                                </div>
                                <div class="info">
                                    <span>Pagamento realizado</span>
                                    <span>Pedido sendo preparado</span>
                                    <span>Pedido a caminho</span>
                                </div>
                            </div>
                            <span class="previsao">Previsão de entrega - 20:35</span>
                        </div>
                        <div class="mapa">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14630.85049166879!2d-46.6328689!3d-23.542836349999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce58560a6c5f29%3A0xeff177e6d6a04b7a!2sCentro%20Hist%C3%B3rico%20de%20S%C3%A3o%20Paulo%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1730840815028!5m2!1spt-BR!2sbr" 
                                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="confirmar-entrega">
                            <h2>O pedido chegou ao destino</h2>
                            <button onclick="confirmarEntrega()">Confirmar entrega</button>
                        </div>
                    </div>
                </div>
                <!-- Avaliar pedido -->
                <div id="AvaliarPedido" class="choose-flavor">
                    <div class="avaliar-pedido">
                        <img class="close" onclick="fecharAvaliacao()" src="./assets/fechar.png" width="42px">
                        <h2>Avalise seu pedido</h2>
                        <div>
                            <p>O que você achou do pedido ?</p>
                            <small>Escolha de 1 a 5 estrelas para avaliar!</small>
                        </div>
                        <div class="estrelas">
                            <span onclick="fillStar(1)" class="star" data-value="1">&#9733;</span>
                            <span onclick="fillStar(2)" class="star" data-value="2">&#9733;</span>
                            <span onclick="fillStar(3)" class="star" data-value="3">&#9733;</span>
                            <span onclick="fillStar(4)" class="star" data-value="4">&#9733;</span>
                            <span onclick="fillStar(5)" class="star" data-value="5">&#9733;</span>
                        </div>
                        <p>O que você gostou ?</p>
                        <div class="qualidades">
                            <div>
                                <span onclick="selecionarQualidade(this)">Saboroso</span>
                                <span onclick="selecionarQualidade(this)">Entrega rápida</span>
                                <span onclick="selecionarQualidade(this)">Boa quantidade</span>
                            </div>
                            <div>
                                <span onclick="selecionarQualidade(this)">Boa aparência</span>
                                <span onclick="selecionarQualidade(this)">Boa embalagem</span>
                                <span onclick="selecionarQualidade(this)">Bons ingredientes</span>
                            </div>            
                        </div>
                        <textarea maxlength="200"></textarea>
                        <button onclick="adicionarAoCarrinho(), fecharAvaliacao()">Enviar avaliação</button>
                    </div>
                </div>
                <div id="notification" class="notification">Obrigado pela avaliação!</div>
            </div>
        </section>
    </main>
    
    <footer class="footer">
        <p>&copy; 2024 Loja de Cupcakes. Todos os direitos reservados.</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
