* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffcbf6;
}

header {
    width: 100%;
    background-color: #ebecee;
    padding: 25px 20px;
    border-bottom: 2px solid #1c1c1c;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.logo {
    width: 96px;
    border: 5px solid #ebecee;
    transition: all 0.5s ease;
}

.logo img {
    width: 100%;
}

.logo:hover {
    border: 1px solid black;
    border-radius: 20px;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 10px;
    position: relative;
    left: 30px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
    padding: 5px;
}

.menu li a:hover {
    color: #ffa2ff;
}

#Home a.active,
#Pedidos a.active,
#Combos a.active,
#CriarCupcake a.active,
#Carrinho a.active,
#Contato a.active,
#Beneficios a.active {
    background: #1c1c1c;
    color: white;
    border-radius: 5px;
}

.account-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-icon img {
    width: 24px;
    cursor: pointer;
    border: 1px solid #ebecee;
}

.cart-icon img:hover {
    border: none;
}

.login-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.login-link:hover {
    color: #ffa2ff;
}

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 33%;
    max-width: 400px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
}

.cart-sidebar.show {
    right: 0;
}

.cart-sidebar img.close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 16px;
    border: 5px solid #f4f4f4;
}

img.close:hover {
    cursor: pointer;
    border: none;
}

.cart-sidebar h2 {
    margin-bottom: 20px;
}

.cart-pedido {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-total {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
}

div.qtd {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

div.qtd {
    border-radius: 5px;
}

div.qtd div {
    padding: 5px 10px;
}

div.qtd div.center {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

div.qtd div:hover {
    cursor: pointer;
    font-weight: bold;
}

div.qtd div.center:hover {
    cursor:default;
    font-weight: normal;
}


/* Vitrine --------------------------------------------------------------------------------------*/

main {
    position: absolute;
    top: 53%;
    left: 50%;    
    transform: translateX(-50%) translateY(-50%);
}

.highlight-container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #e0e0e0;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-content: space-around;
    border-radius: 15px;
}

.highlight-item {
    background-color: #ffffff;
    width: 200px;
    height: 230px;
    flex: 1;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.highlight-item a img:hover {
    scale: 1.1;
}

.border {
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
}

span.pag {
    position: absolute;
    top: -10px;
    left: 40px;
    font-size: 1.3em;
    font-weight: bold;
}

.notification {
    position: fixed;
    top: -20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.notification.show {
    opacity: 1;
    visibility: visible;
}

.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding: 30px 0;
    background-color: #333;
    color: #fff;
    border-top: 4px solid #252525;
    text-align: center;
    font-size: 1em;
}

#Login .footer {
    position: relative;
}

/* Login ----------------------------------------------------------------------------------------*/

.auth-container {
    display: flex;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
}

.register-block, .login-block {
    width: 50%;
    padding: 40px;
}

.register-block {
    border-right: 2px solid #e0e0e0;
}

#Login h2 {
    margin-bottom: 20px;
    color: #333;
}

.google-register {
    width: 100%;
    padding: 10px;
    background-color: #4285f4;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.google-register:hover {
    background-color: #357ae8;
}

#Login p {
    text-align: center;
    margin: 20px 0;
}

.register-form label {
    font-weight: bold;
    color: #333;
    margin-top: 15px;
}

.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="tel"],
.register-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

.password-note {
    font-size: 0.8em;
    color: #666;
}

.name-group, .diet-group {
    display: flex;
    gap: 15px;
}

.diet-group {
    margin-bottom: 20px;
}

.name-group div, .phone-input {
    flex: 1;
}

.radio-group {
    display: flex;
    gap: 10px;
    align-items: baseline;
    float: right;
}

.register-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.register-btn:hover {
    background-color: #0056b3;
}

/* Pedidos ------------------------------------------------------------------------------------- */

#Pedidos .highlight-container,
#Combos .highlight-container {
    display: flex;
}

#Pedidos .highlight-item,
#Combos .highlight-item {
    width: 350px;
    height: 350px;
    border-radius: 30px;
    padding: 20px;
    text-align: start;
    justify-content: space-between;
    align-items: start;
    border: 2px solid black;
}

.pedido-produtos {
    display: flex;
    flex-wrap: wrap;
}

.produto {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.acompanhar-pedido {
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

button {
    cursor: pointer;
    padding: 10px 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    transition: all 0.2s ease;
}
button:hover {
    background-color: rgb(33, 33, 33);
    color: white;
}

/* Combos -------------------------------------------------------------------------------------- */

#Combos .highlight-item {
    align-items: center;
}

.sabores {
    border-bottom: 2px solid black;
}

.combos-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.combos-sabores {
    display: flex;
    gap: 25px;
}

.combos-sabores .sabor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desconto {
    position: fixed;
    bottom: 12px;
}

.choose-flavor.show {
    display: block;
    opacity: 1;
    width: 1210px;
    height: 440px;
    z-index: 1;
}

.choose-flavor {
    position: absolute;
    top: -10px;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -99;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    transition: opacity 0.5s ease, width 0.5s ease, height 0.5s ease;
    font-size: 1.2em;
}

.choose-flavor img.close {
    position: absolute;
    border: none;
    right: 14px;
    top: 5px;
}

.choose-flavor h2 {
    margin-bottom: 20px;
}

.choose-flavor .combo-sabores {
    display: flex;
}

.choose-flavor .descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.3em;
}

.choose-flavor img {
    border-bottom: 2px solid black;
}

.choose-flavor img.close:hover {
    transform: scale(1.1);
}

.choose-flavor .descricao span {
    display: block;
    width: 55%;
}

.choose-flavor-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}

.choose-flavor .notification {
    top: -50px;
    right: auto;
    left: 20px;
}

/* Crie seu Cupcake ----------------------------------------------------------------------------- */

#CriarCupcake .highlight-container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

#CriarCupcake .highlight-item {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
}

.divisor {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.divisor.ultimo {
    border-right: none;
}

.criar-sabor {
    width: 320px;
    height: 100%;
    padding: 20px;
    font-size: 1.2em;
}

.criar-sabor .sabor {
    display: flex;
    align-items: center;
    margin-top: 20px;
    transition: all 0.2s ease;
}

.criar-sabor .sabor:hover {
    scale: 1.05;
}

.criar-sabor .sabor img {
    width: 50px;
}

.criar-sabor .sabor span {
    margin-left: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
}

.criar-sabor .sabor.selected span {
    border: 2px solid #98c2f8;
}

.criar-resultado {
    position: absolute;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

/* Contato -------------------------------------------------------------------------------------- */

#Contato .highlight-container,
#Beneficios .highlight-container {
    display: flex;
}

#Contato .highlight-item,
#Beneficios .highlight-item {
    height: 450px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 50px;
}

.contate-nos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contate-nos p {
    padding: 5px;
    font-size: 1.1em;
}

.redes a img{
    margin: 10px 30px;
}
.redes a img:hover{
    scale: 1.1;
}

/* Benefícios ----------------------------------------------------------------------------------- */

.premios p {
    margin-bottom: 20px;
    font-size: 1.1em;
}