* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffcbf6;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: #ebecee;
    padding: 25px 20px;
    border-bottom: 2px solid #1c1c1c;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 96px;
    border: 5px solid #ebecee;
    transition: all 0.5s ease;
}

.logo img {
    width: 100%;
}

.logo:hover {
    border: 1px solid black;
    border-radius: 20px;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
    padding: 5px;
}

.menu li a:hover {
    color: #ffa2ff;
}

#Home a.active,
#Pedidos a.active,
#Combos a.active,
#CriarCupcake a.active,
#Carrinho a.active,
#Contato a.active {
    background: #1c1c1c;
    color: white;
    border-radius: 5px;
}

.account-area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-icon img {
    width: 24px;
    cursor: pointer;
    border: 1px solid #ebecee;
}

.cart-icon img:hover {
    border: none;
}

.login-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.login-link:hover {
    color: #ffa2ff;
}

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
}

.cart-sidebar.show {
    right: 0;
}

.cart-sidebar button {
    width: 100%;
    margin-top: 20px;
}

.cart-sidebar img.close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 16px;
    border: 5px solid #f4f4f4;
}

img.close:hover {
    cursor: pointer;
    border: none;
}

.cart-sidebar h2 {
    margin-bottom: 20px;
}

.cart-pedido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.cart-pedido img {
    width: 72px;
}

.cart-pedido-combo img {
    width: 24px;
}

.cart-total {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 40px;
}

div.qtd {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    user-select: none;
}

div.qtd {
    border-radius: 5px;
}

div.qtd div {
    padding: 5px 10px;
}

div.qtd div.center {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

div.qtd div:hover {
    cursor: pointer;
    font-weight: bold;
}

div.qtd div.center:hover {
    cursor:default;
    font-weight: normal;
}

button.menu-toggle {
    display: none;
    background: none;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
}

span[data-fulltext]:hover::after{
    content: attr(data-fulltext);
    top: 0;
    left: 0;
    right: 0;
    background-color: #f4f4f4;
}

/* Vitrine --------------------------------------------------------------------------------------*/

main {
    max-width: 75%;
    min-width: 920px;
    margin: 50px auto;
}

.highlight {
    position: relative;
}

.highlight-container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #e0e0e0;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-content: space-around;
    border-radius: 15px;
}

.highlight-item {
    background-color: #ffffff;
    width: 100%;
    min-width: 180px;
    height: 230px;
    flex: 1;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.highlight-item a img:hover {
    scale: 1.1;
}

.border {
    display: block;
    width: 100%;
    border-bottom: 2px solid black;
}

span.pag {
    position: absolute;
    top: -10px;
    font-size: 1.3em;
    font-weight: bold;
}

#Pedidos span.pag,
#Combos span.pag,
#Carrinho span.pag {
    left: 40px;
}

.notification {
    position: absolute;
    top: -20px;
    right: 50%;
    transform: translate(50%);
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.notification.show {
    opacity: 1;
    visibility: visible;
    z-index: 99;
}

footer {
    margin-top: auto;
    width: 100%;
    height: 80px;
    padding: 30px;
    background-color: #333;
    color: #fff;
    border-top: 4px solid #252525;
    text-align: center;
    font-size: 1em;
}

/* Login ----------------------------------------------------------------------------------------*/

.auth-container {
    display: flex;
    max-width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
}

.register-block, .login-block {
    background-color: #fff;
    width: 50%;
    padding: 40px;
}

.register-block {
    border-right: 2px solid #e0e0e0;
}

#Login h2 {
    margin-bottom: 20px;
    color: #333;
}

.google-register {
    width: 100%;
    padding: 10px;
    background-color: #4285f4;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.google-register:hover {
    background-color: #357ae8;
}

#Login p {
    text-align: center;
    margin: 20px 0;
}

.register-form label {
    font-weight: bold;
    color: #333;
    margin-top: 15px;
}

.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="number"],
.register-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

input[type="checkbox"]{
    margin-top: 5px;
}

.password-note {
    font-size: 0.8em;
    color: #666;
}

.name-group, .diet-group {
    display: flex;
    gap: 15px;
}

.diet-group {
    margin-bottom: 20px;
}

.name-group div, .phone-input {
    flex: 1;
}

.radio-group {
    display: flex;
    gap: 10px;
    align-items: baseline;
    float: right;
}

.register-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.register-btn:hover {
    background-color: #0056b3;
}

/* Pedidos ------------------------------------------------------------------------------------- */

#Pedidos .highlight-container,
#Combos .highlight-container {
    display: flex;
    flex-wrap: wrap;
}

.main {
    display: flex; 
    flex-wrap: wrap; 
    gap: 40px;
}

#Pedidos .highlight-item,
#Combos .highlight-item {
    min-width: 270px;
    height: 350px;
    border-radius: 30px;
    padding: 20px;
    padding-top: 10px;
    text-align: start;
    justify-content: space-between;
    align-items: start;
    border: 2px solid black;
}

#Pedidos h2 {
    font-size: 1.3em;
}

.pedido-produtos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.produto {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.acompanhar-pedido-footer {
    width: 100%;
    height: 65px;
    padding-top: 20px;
    border-top: 2px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.acompanhar-pedido-footer img {
    width: 100%;
}

button {
    cursor: pointer;
    padding: 10px 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    transition: all 0.2s ease;
}
button:hover {
    background-color: rgb(33, 33, 33);
    color: white;
}

.acompanhar-pedido {
    display: flex;
    flex-direction: column;
    height: 436px;
}

.pagamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: auto;
    padding-top: 20px;
}

.barra-progresso {
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
}

.progresso {
    text-align: center;
    width: 33.34%;
    padding: 10px;
}

.barra-progresso-left,
.barra-progresso-center,
.barra-progresso-right {
    background: linear-gradient(to right, #98c2f8 0%, #98c2f8 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 1s ease-in-out;
}

.fill-from-left {
    background-size: 100% 100%;
}

.barra-progresso-left {
    background-color: #98c2f8;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px; 
}

.barra-progresso-center {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.barra-progresso-right {
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
}

.info {
    display: flex;
    text-align: center;
    font-size: 1em;
}

.info span {
    width: 100%;
}

span.previsao {
    margin-top: 50px;
    text-align: center;
}

.mapa {
    position: relative;
    bottom: -5px;
    border-top: 1px solid black;
}

.mapa iframe {
    width: 100%;
    height: 235px;
    border-radius: 20px;
}

.confirmar-entrega {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    height: 250px;
    margin: auto;
    margin-bottom: 20px;
}

.avaliar-pedido {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.choose-flavor .avaliar-pedido h2 {
    margin-bottom: 0;
}

.avaliar-pedido small {
    color: #b7b7b7;
}

.estrelas span.star {
    font-size: 2.5em;
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 1px #FFD700;
    padding: 5px;
    transition: color 0.3s;
    user-select: none;
}

.estrelas span.star.filled {
    color: #FFD700;
}

.avaliar-pedido .qualidades {
    display: flex;
    text-align: center;
}

.avaliar-pedido .qualidades div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.avaliar-pedido .qualidades div span {
    padding: 2px 5px;
    margin: 5px;
    border: 2px solid white;
    cursor: pointer;
}

.avaliar-pedido .qualidades span.selected {
    border: 2px solid #98c2f8;
}

.avaliar-pedido textarea {
    resize: none;
    width: 30%;
    height: 50px;
    padding: 0 2px;
}

#AcompanharPedido {
    padding: 0;
}

/* Combos -------------------------------------------------------------------------------------- */

#Combos .highlight-item {
    align-items: center;
}

#Combos h3 {
    font-size: 1.5em;
}

.sabores {
    border-bottom: 2px solid black;
    text-align: center;
}

.sabores img {
    width: 32%;
}

.combos-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.combos-sabores {
    display: flex;
    gap: 25px;
}

.combos-sabores .sabor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.choose-flavor.show {
    opacity: 1;
    width: 100%;
    height: 440px;
    z-index: 99;
    user-select: auto;
}

.choose-flavor {
    position: absolute;
    top: -10px;
    opacity: 0;
    height: 0;
    z-index: -99;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    transition: opacity 0.5s ease, width 0.5s ease, height 0.5s ease;
    font-size: 1.2em;
    user-select: none;
}

#Combos .choose-flavor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

.choose-flavor img.close{
    position: absolute;
    border: none;
    right: 9px;
    top: 5px;
}

.choose-flavor .combo-sabores {
    display: flex;
    justify-content: center;
}

.choose-flavor .descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.3em;
    width: 100%;
}

.choose-flavor img {
    border-bottom: 2px solid black;
}

.choose-flavor img.close:hover {
    transform: scale(1.1);
}

.choose-flavor .descricao span {
    display: block;
    width: 75%;
}

.choose-flavor-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.choose-flavor-footer .desconto {
    position: absolute;
    bottom: 0;
    right: 80px;
    color: #6ce36c;
    font-weight: bold;
}

/* Crie seu Cupcake ----------------------------------------------------------------------------- */

#CriarCupcake .highlight-container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

#CriarCupcake .main {
    width: 100%;
    gap: 0;
    flex-wrap: nowrap;
}

#CriarCupcake .highlight-item {
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#CriarCupcake h2 {
    font-size: 1.3em;
}

.divisor {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.divisor.ultimo {
    border-right: none;
}

.criar-sabor {
    width: 100%;
    padding: 20px;
    font-size: 1.2em;
}

.overflowY {
    overflow-x: hidden;
    overflow-y: auto;
    height: 277px;
}

.criar-sabor .sabor {
    display: flex;
    align-items: center;
    margin-top: 20px;
    transition: all 0.2s ease;
}

.criar-sabor .sabor:hover {
    scale: 1.05;
}

.criar-sabor .sabor img {
    width: 50px;
}

.criar-sabor .sabor span {
    margin-left: 15px;
    margin-right: 5px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
}

.criar-sabor .sabor.selected span {
    border: 2px solid #98c2f8;
}

.criar-resultado {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

/* Contato -------------------------------------------------------------------------------------- */

#Contato .highlight-container {
    display: flex;
}

#Contato .highlight-item {
    height: 450px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 50px;
}

.contate-nos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contate-nos p {
    padding: 5px;
    font-size: 1.1em;
}

.redes a img{
    margin: 10px 30px;
}
.redes a img:hover{
    scale: 1.1;
}

/* Carrinho ------------------------------------------------------------------------------------- */

#Carrinho main {
    max-width: 90%;
}

#Carrinho .highlight-container {
    display: flex;
    justify-content: space-between;
}

#Carrinho .carrinho-itens {
    display: flex;
    gap: 40px;
    overflow-x: auto;

    scrollbar-width: none;
}

#Carrinho span.arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 1.9em;
    cursor: pointer;
    user-select: none;
    padding: 0 10px;
}

#Carrinho .left {
    left: 0;
}

#Carrinho .right {
    right: 415px;
}

#Carrinho ::-webkit-scrollbar{
    display: none;
}

#Carrinho .highlight-item {
    position: relative;
    flex: auto;
    height: 350px;
    justify-content: space-around;

    min-width: 200px;
}

#Carrinho .highlight-item .carrinho-item-descricao {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#Carrinho .highlight-item .sabores img {
    width: auto;
}

#Carrinho .highlight-item-combo .sabores img {
    width: 32%;
}

#Carrinho .highlight-item-combo {
    width: 350px;
    min-width: 350px;
}

#Carrinho .carrinho-itens-qtd-valor{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#Carrinho .resumo-carrinho .pag{
    left: auto;
    top: -52px;
}

#Carrinho .resumo-carrinho {
    min-width: 375px;
    max-width: 375px;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    border: 1px solid #cdcdcd;
    border-radius: 50px;
    font-size: 1.0em;
}

#Carrinho .resumo {
    width: 100%;
    overflow-y: auto;

}

#Carrinho .resumo-itens {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.95em;
}

#Carrinho .resumo-pedido-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
}

#Carrinho .qtd {
    font-weight: normal;
}

.fechar-pedido {
    position: absolute;
    top: -1000px;
    left: 0;
    width: 0;
    height: 0;
    background-color: #fff;
    border-radius: 20px;
    font-size: 1.2em;
    opacity: 0;
    transition: opacity 0.5s ease, width 0.5s ease, height 0.5s ease;

    display: flex;
    justify-content: space-evenly;
}

.fechar-pedido.show {
    top: -10px;
    border: 2px solid black;
    width: 100%;
    height: 440px;
    opacity: 1;
}


.fechar-pedido img.close {
    position: absolute;
    border: none;
    right: 9px;
    top: 5px;
}

.fechar-pedido img:hover {
    cursor: auto;
}

.fechar-pedido.show img:hover {
    cursor: pointer;
}

.fechar-pedido div.center {
    border-left: 2px solid #000;
}

.fechar-pedido .fechar-pedido-passos {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 50%;
    padding: 10px 20px;
}

.fechar-pedido .fechar-pedido-passos h1 {
    margin-bottom: 50px;
    align-self: center;
    font-size: 1.4em;
}

.fechar-pedido form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.fechar-pedido select {
    padding: 5px;
    width: 75%;
    margin-bottom: 20px;
}

.fechar-pedido input {
    padding: 4px;
    margin-bottom: 20px;
}

.fechar-pedido div input[name=cep] {
    width: 30%;
}

.fechar-pedido div input[name=endereco] {
    width: 75%;
}

.fechar-pedido .input-group {
    display: flex;
}

.fechar-pedido .input-group div {
    width: 50%;
}

.fechar-pedido div.opcao {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.fechar-pedido div.opcao span {
    padding: 10px;
    border-radius: 5px;
}

.fechar-pedido div.selected span {
    border: 2px solid #98c2f8;
}

.fechar-pedido-passos.center button {
    align-self: center;
    margin-top: 88px;
}

.fechar-pedido .resumo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2.nao_logado {
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
}

.fechar-pedido-passos .opcao #credito {
    display: none;
}

.fechar-pedido-passos .opcao #credito.show {
    display: block;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.fechar-pedido-passos .opcao #credito input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.fechar-pedido-passos .opcao #pix {
    display: none;
}
.fechar-pedido-passos .opcao #pix.show {
    display: block;
    position: absolute;
    right: 20px;
}

/* Media Query */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

    #Combos .choose-flavor-footer .desconto {
        right: 15px;
    }

    #Carrinho .fechar-pedido h1 {
        font-size: 1.2em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

    body {
        overflow-y: auto;
    }

    header {
        padding: 0 20px;
    }

    ul.menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0px;
        right: -5px;
        left: 70%;
        bottom: auto;
        z-index: 1;
        gap: 25px;
        background-color: #333;
        padding: 1rem;
        border-radius: 5px;
    }

    ul.menu a {
        color: white;
    }

    ul.menu.active {
        display: flex;
    }

    button.menu-toggle {
        display: block;
    }

    main {
        max-width: 85%;
        min-width: 480px;
    }

    .highlight-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
    }

    #Pedidos main {
        max-width: 95%;
    }

    #Combos .choose-flavor .descricao span {
        width: 90%;
        font-size: 0.9em;
    }

    #CriarCupcake main {
        max-width: 95%;
    }

    #CriarCupcake .criar-sabor {
        font-size: 0.95em;
    }

    #Login .auth-container {
        max-width: 90%;
        flex-direction: column;
        
        box-shadow: none;
    }

    #Login .register-block,
    #Login .login-block {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    #Login .login-block {
        margin-top: 50px;
    }

    #Carrinho .highlight-container {
        flex-direction: column;
    }

    #Carrinho .carrinho-itens {
        gap: 30px;
    }

    #Carrinho .resumo-carrinho .pag{
        top: 390px;
    }

    #Carrinho span.arrow {
        top: 210px;
    }

    #Carrinho .left {
        left: -4px;
    }
    
    #Carrinho .right {
        right: -5px;
    }

    #Carrinho main {
        max-width: 95%;
    }

    #Carrinho .resumo-carrinho {
        max-width: none;
    }

    #Carrinho .resumo-carrinho .pag{
        top: -32px;
    }

    #Carrinho .fechar-pedido {
        height: calc(100% + 10px);
        flex-wrap: wrap;
    }
    
    #Carrinho .fechar-pedido-passos {
        width: 100%;
        border-right: none;
    }

    #Carrinho .fechar-pedido-passos.center {
        border-left: none;
        border-top: 2px solid #000;
    }

    .fechar-pedido-passos.center button {
        margin-top: 0;
    }

    .fechar-pedido-passos .opcao #credito.show {
        top: 480px;
        width: 70%;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    
    #Pedidos textarea {
        width: 50%;
    }

    #Combos .choose-flavor .descricao span {
        line-height: 1em;
    }

    #Combos .choose-flavor-footer {
        font-size: 0.9em;
    }

    #Combos .choose-flavor-footer button {
        padding: 10px 30px;
    }

    #CriarCupcake span.pag {
        font-size: 1.2em;
    }

    #CriarCupcake .main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #CriarCupcake .criar-sabor {
        font-size: 1.1em;
    }

    #CriarCupcake .criar-sabor .sabor {
        margin-left: 5px;
    }

    #CriarCupcake .criar-sabor.divisor {
        border-right: none;
    }

    #Contato .highlight-item {
        font-size: 1.0em;
    }

    #Contato .contate-nos {
        display: block;
    }

    #Contato .contate-nos div {
        margin: 10px;
    }

    #Contato .contate-nos p {
        font-size: 1.0em;
    }

    #Contato .redes img {
        margin: 0px 10px;
    }

    #Login .register-block,
    #Login .login-block {
        padding: 30px;
    }

    #Carrinho .fechar-pedido h1 {
        font-size: 1em;
    }

    #Carrinho .fechar-pedido-passos {
        min-width: 276px;
    }

    #Carrinho .fechar-pedido-passos.last{
        width: 70%;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

    main {
        min-width: 300px;
    }
    
    .highlight-container {
        grid-template-columns: repeat(1, 1fr);
    }

    span.pag {
        left: 50%;
        transform: translateX(-50%);
    }
    
    #Pedidos span.pag,
    #Combos span.pag,
    #Carrinho span.pag {
        left: 50%;
    }
    
    .notification {
        min-width: 245px;
    }

    #Pedidos main {
        min-width: 350px;
    }

    #Pedidos div.info span {
        font-size: 0.77em;
    }

    #Pedidos span.previsao {
        font-size: 0.9em;
    }

    #Pedidos .confirmar-entrega {
        padding: 10px;
    }

    #Pedidos .confirmar-entrega h2 {
        font-size: 1.2em;
    }

    #Pedidos .qualidades {
        font-size: 0.8em;
    }

    #Combos main {
        max-width: 95%;
    }

    #Combos .highlight-item {
        font-size: 0.9em;
    }

    #Combos .choose-flavor-footer button {
        padding: 0 10px;
    }

    #Contato .contate-nos p {
        font-size: 0.8em;
    }

    #Login .register-block,
    #Login .login-block {
        font-size: 0.9em;
        padding: 20px;
    }

    #Carrinho .highlight-item {
        font-size: 0.9em;
    }

    #Carrinho .highlight-item-combo {
        min-width: 270px;
    }

    #Carrinho .resumo-carrinho .pag {
        left: 50%;
    }

    #Carrinho .highlight-item {
        font-size: 0.8em;
    }

    #Carrinho .resumo-carrinho {
        min-width: auto;
    }

    #Carrinho .resumo-carrinho .pag{
        top: -40px;
    }

    #Carrinho .fechar-pedido-passos {
        border-left: none;
        width: 100%;
        padding-bottom: 15px;
    }

    #Carrinho .fechar-pedido-passos.center {
        border-top: 2px solid #000;
    }

    #Carrinho .fechar-pedido-passos.center h1 {
        align-self: center;
    }
}